<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

	<resultMap type="com.example.entity.User" id="user">
	<id property="username" column="user_name"/>
	<result property="password" column="user_password"/>
	<result property="roles" column="user_role"/>
	</resultMap>

  <select id="getAllUser" resultMap="user">
 		select * from user
  </select>
  
   <select id="loadUserByUsername" resultMap="user">
  		select user_name, user_password, user_role from user where user_name = #{username}
  </select>
  
</mapper>